# --- Arquivos de Dados e Resultados do Projeto ---
JMC/
resultados/
corpus_grande.txt
corpus_test.txt

# --- Configurações do VS Code ---
.vscode/
.history/
*.code-workspace

# --- NIM ---
nimcache/
nimblecache/
htmldocs/
*.exe
*.out
*.app

# --- JAVA ---
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.nar
target/
.gradle/
build/